.rating {
	cursor: pointer;
	margin: 0px;
	clear: both;
	display: block;
        cursor: default;
}
.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
        cursor: default;
}
.cancel,
.star {
	float: left;
	width: 17px;
	height: 15px;
	overflow: hidden;
	text-indent: -999em;
	cursor: default;
}
.star-left,
.star-right {
  width: 8px;
  cursor: default;
}
.cancel,
.cancel a {background: url(delete.gif) no-repeat 0 -16px;cursor: pointer;}

.star,
.star a {background: url(star.gif) no-repeat 0 0px;cursor: pointer;}
.star-left,
.star-left a {background: url(star-left.gif) no-repeat 0 0px;cursor: pointer;}
.star-right,
.star-right a {background: url(star-right.gif) no-repeat 0 0px;cursor: pointer;}
	
.cancel a,
.star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0px;
        cursor: pointer;
}

div.rating div.on a {
	background-position: 0 -16px;
        cursor: pointer;
}
div.rating div.hover a,
div.rating div a:hover {
	background-position: 0 -32px;
        cursor: pointer;
}


.cancel,
.cancel span {background: url(delete.gif) no-repeat 0 -16px;cursor: default;}

.star,
.star span {background: url(star.gif) no-repeat 0 0px;cursor: default;}
.star-left,
.star-left span {background: url(star-left.gif) no-repeat 0 0px;cursor: default;}
.star-right,
.star-right span {background: url(star-right.gif) no-repeat 0 0px;cursor: default;}
	
.cancel span,
.star span {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0px;
        cursor: default;
}

div.rating div.on span {
	background-position: 0 -16px;
        cursor: default;
}


