table {
    border:1px solid white;
    font-size:14px;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}
td {
    color:#000000;
    vertical-align: top;
    padding:2px;
    white-space:initial;
}
th {
    padding:2px;
    background-color:#CFE0F1;
    white-space:nowrap;
    cursor: pointer;
    padding:10px;
}
tr:nth-child(even) { background: #EEE;}
tr:nth-child(odd) { background:  #fbfbfb;}

.classax {
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size:14px;
    text-decoration:none solid #207bf4;
    color: #207bf4;
}

.classa {
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size:14px;
    text-decoration:none solid rgb(59, 89, 152);
    color: rgb(59, 89, 152);
}
.classa:hover {
    text-decoration: underline;
}

.classaa {
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size:14px;
    text-decoration:none solid rgb(59, 89, 152);
    color: rgb(59, 89, 152);
}
.classaa:hover {
    text-decoration: underline;
}

.social-container {
    margin:0px;
    padding:0px;
}
.social-container .links {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}
.social-container .links a {
    margin: 0 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.social-container .links a:hover {
    color: rgb(53, 76, 140);
}


.like {
    background-image: url(like.png);
    height: 30px; 
    width: 30px; 
    border: 0px;
}
.like:hover {
    background-image: url(like_selected.png);
    height: 30px; 
    width: 30px; 
    border: 0px;
}

.like .selected {
    background-image: url(like_selected.png);
    height: 30px; 
    width: 30px; 
    border: 0px;
}

.dislike {
    background-image: url(dislike.png);
    width: 30px;
}
.dislike:hover {
    background-image: url(dislike_selected.png);
    width: 30px;
}

.dislike .selected {
    background-image: url(dislike_selected.png);
    width: 30px;
}


.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .03;
   filter: alpha(opacity=3);
   -moz-opacity: .03;
   z-index: 101;
   display: none;
}
.web_dialog
{
   display: none;
   position: fixed;
   width: 380px;
   
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #CFE0F1;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
   
   
   
   
}
.web_dialog_title
{
   border-bottom: solid 2px #CFE0F1;
   background-color: #CFE0F1;
   padding: 4px;
   color: black;
   font-weight:bold;
}
.web_dialog_title a
{
   color: black;
   text-decoration: none;
}
.align_right
{
   text-align: right;
}