body {font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif; font-size:14px; margin:0px;padding:0px;}
#headerdiv {width:100%;white-space:nowrap;margin:0px;padding:0px;background-color:black;}
#title {margin:0px;padding:0px;margin-left: 10px;}
#title, #navlinks, #selamatdatang, #acctName  {display:inline-block;color:white;margin-top: 7px;}
#selamatdatang {position:absolute;right:10px;}
#navlinks  { margin:0px; padding:0px; }
#navlinks li { display:inline-block; border-left:1px solid rgb(59, 89, 152); padding:5px;}
#navlinks li:first-child {border:0px;}
#kawaldetailtr {padding:30px 20px; margin:0px; background-color:#CCC;display:none; line-height:15pt; }
#countdown {margin:20px;}
#twitterwidget {width:20%;}
.external-link {background:url('external-link-ltr-icon.png') no-repeat right top; padding-right:12px;}
.right {float:right;}
.left {float:left;}

#wrapper {width:75%; border-radius:5px; margin-right:1%;}
#mainContent {width:98%; background:#EFEFEF;  padding:1%;}
#content {width:100%;}
#content h3 {margin:0;}
/*
#content table {width:100%;}
*/
table {
    border:1px solid white;
    font-size:14px;
}
td {
    color:#000000;
    vertical-align: top;
    padding:2px;
    white-space:initial;
}
th {
    padding:2px;
    background-color:#CFE0F1;
    white-space:nowrap;
    cursor: pointer;
    padding:10px;
}
tr:nth-child(even) { background: #EEE;}
tr:nth-child(odd) { background:  #fbfbfb;}

.classax {
    font-size:14px;
    text-decoration:none solid #207bf4;
    color: #207bf4;
}

.classa {
    font-size:14px;
    text-decoration:none solid rgb(59, 89, 152);
    color: rgb(59, 89, 152);
}
.classa:hover {
    text-decoration: underline;
}

.classaa {
    font-size:14px;
    text-decoration:none solid rgb(59, 89, 152);
    color: rgb(59, 89, 152);
}
.classaa:hover {
    text-decoration: underline;
}


.classaw {
    font-size:14px;
    font-weight: bold;
    text-decoration:none solid rgb(59, 89, 152);
    color: white;
}
.classaw:hover {
    text-decoration: underline;
}


.social-container {
    margin:0px;
    padding:0px;
}
.social-container .links {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}
.social-container .links a {
    margin: 0 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.social-container .links a:hover {
    color: rgb(53, 76, 140);
}


.like {
    background-image: url(like.png);
    height: 30px;
    width: 30px;
    border: 0px;
}
.like:hover {
    background-image: url(like_selected.png);
    height: 30px;
    width: 30px;
    border: 0px;
}

.like .selected {
    background-image: url(like_selected.png);
    height: 30px;
    width: 30px;
    border: 0px;
}

.dislike {
    background-image: url(dislike.png);
    width: 30px;
}
.dislike:hover {
    background-image: url(dislike_selected.png);
    width: 30px;
}

.dislike .selected {
    background-image: url(dislike_selected.png);
    width: 30px;
}


.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .03;
   filter: alpha(opacity=3);
   -moz-opacity: .03;
   z-index: 101;
   display: none;
}
.web_dialog
{
   display: none;
   position: fixed;
   width: 380px;

   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #CFE0F1;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;




}
.web_dialog_title
{
   border-bottom: solid 2px #CFE0F1;
   background-color: #CFE0F1;
   padding: 4px;
   color: black;
   font-weight:bold;
}
.web_dialog_title a
{
   color: black;
   text-decoration: none;
}
.align_right
{
   text-align: right;
}
h1 { display:inline-block;}
hr {clear:both; visibility:hidden;}
a.mainLinks {display:inline-block;background:#DDD; color:#999; font-size:14pt; text-decoration:none;margin:0 5px;padding:10px; border-radius:10px 10px 0 0;}
a.mainLinks:hover {color:red;}
a.mainLinks.focus, a.mainLinks.active {color:red; background:#EFEFEF;}

#tableContainer-1 {
    height: 100%;
    width: 100%;
    display: table;
  }
#tableContainer-2 {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
  }
