table {
    border:1px solid white;
    font-size:14px;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}
td {
    color:#000000;
    vertical-align: top;
    padding:2px;
    white-space:initial;
}
th {
    padding:2px;
    background-color:#CFE0F1;
    white-space:nowrap;
    cursor: pointer;
    padding:10px;
}
tr:nth-child(even) { background: #EEE;}
tr:nth-child(odd) { background:  #fbfbfb;}

.classa {
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size:12px;
    text-decoration:none solid rgb(59, 89, 152);
    color: rgb(59, 89, 152);
}
.classa:hover {
    text-decoration: underline;
}

.classaa {
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size:14px;
    text-decoration:none solid rgb(59, 89, 152);
    color: rgb(59, 89, 152);
}
.classaa:hover {
    text-decoration: underline;
}